/*-----------------------------------------------------------------Tag Selectors-----------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}
.align-self-center{
  align-self: center;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.container-fluid {
  overflow-x: hidden;
}

/*-----------------------------------------------------------------Top Section-----------------------------------------------------------------*/
#title .container-fluid {
  padding: 3% 15%;
}

.top-section {
  /* background-color: #00bcd4; */
  min-height: 100vh;
  color: #fdfdfd;
}

.top-section {
  background: linear-gradient(-90deg, #ffaa64, #f76b8a, #a8d8ea, #9e579d);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: #252a34;
}

.top-section.bright {
  background: linear-gradient(-90deg, #ff9a00, #ff165d, #3ec1d3, #3a0088);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: #fdfdfd;
}

.top-section.dark {
  background: black;
  color: #fdfdfd;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/*---------------------------------Navbar-------------------------------------*/
.fas {
  border: none;
  background: rgba(0, 0, 0, 0.35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}
.fa-lightbulb{
  padding-left: 6px;
  padding-right: 20px;
}
.fas.bright {
  border: none;
  background: rgba(255, 255, 255, 0.75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fas.dark {
  border: none;
  background: rgba(255, 255, 255, 0.75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.far {
  border: none;
  background: rgb(0, 0, 0, 0.35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.far:focus {
  outline: none;
  box-shadow: none;
}

.fas:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-dark {
  color: #FEFCFF;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FEFCFF;
}

.line-1 {
  transition: all 0.5s;
  position: relative;
  margin: 5px auto;
  width: 35px;
  height: 5px;
  border: 1px solid black;
}

.line-1.bright {
  border: 1px solid black;
}

.line-1.dark {
  border: 1px solid white;
}

.line-2 {
  transition: all 0.5s;
  position: relative;
  margin: 5px auto;
  width: 35px;
  height: 5px;
  border: 1px solid black;
}

.line-2.bright {
  border: 1px solid black;
}

.line-2.dark {
  border: 1px solid white;
}

.line-1.positive-45 {
  transform: rotate(45deg);
}

.line-2.negative-45 {
  transform: rotate(-45deg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.animated-toggler:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.animated-toggler:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.intro {
  padding: 15% 0 15%;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 3%;
}

.desc-game-dev {
  font-family: 'Press Start 2P', cursive;
}

.desc-web-dev {
  font-family: 'Major Mono Display', monospace;
}

/*-----------------------------------------------------------------Intro Section-----------------------------------------------------------------*/
#about .container-fluid {
  background: #fdfdfd;
  color: black;
}

#about .container-fluid.dark {
  background: #40514e;
  color: #fdfdfd;
}

.introduction {
  margin: auto;
  text-align: center;
  padding: 12%;
}

.intro-img-container {
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-avatar {
  max-width: 192px;
}

.introduction h1 {
  padding-bottom: 2%;
  font-weight: 900;
}

.introduction h5 {
  line-height: 2;
  width: 50%;
  margin: auto;
}

/*-----------------------------------------------------------------services Section-----------------------------------------------------------------*/
#services .container-fluid {
  background-color: #e4fffe;
}

#services .container-fluid.dark {
  background-color: #323232;
  color: #fdfdfd;
}

.services-section {
  padding: 12%;
}

.skill-about {
  line-height: 2;
  font-weight: 600;
  font-size: 3rem;
}

.skills-row {
  line-height: 2;
  margin: 10% auto 0 auto;
  text-align: left;
  width: 75%;
}

.skill-description {
  overflow: auto;
  font-size: 1.2rem;
}

.webdev-img {
  float: right;
  margin-left: 30px;
  width: 20%;
  height: auto;
}

.gamedev-img {
  float: left;
  margin-right: 30px;
  width: 30%;
  height: auto;
}

.graphicdesign-img {
  float: left;
  margin-right: 30px;
  width: 25%;
  border-radius: 100%;
  height: auto;
}

.animated-elements {
  position: relative;
}

.animated-elements.slide-down {
  opacity: 0;
  -moz-transition: all 750ms linear;
  -webkit-transition: all 750ms linear;
  -o-transition: all 750ms linear;
  transition: all 750ms linear;
  -moz-transform: translate3d(0px, -25px, 0px);
  -webkit-transform: translate3d(0px, -25px, 0px);
  -o-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate3d(0px, -25px, 0px);
}

.animated-elements.slide-up {
  opacity: 0;
  -moz-transition: all 750ms linear;
  -webkit-transition: all 750ms linear;
  -o-transition: all 750ms linear;
  transition: all 750ms linear;
  -moz-transform: translate3d(0px, 25px, 0px);
  -webkit-transform: translate3d(0px, 25px, 0px);
  -o-transform: translate(0px, 25px);
  -ms-transform: translate(0px, 25px);
  transform: translate3d(0px, 25px, 0px);
}

.animated-elements.slide-right {
  opacity: 0;
  -moz-transition: all 750ms linear;
  -webkit-transition: all 750ms linear;
  -o-transition: all 750ms linear;
  transition: all 750ms linear;
  -moz-transform: translate3d(-25px, 0px, 0px);
  -webkit-transform: translate3d(-25px, 0px, 0px);
  -o-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate3d(-25px, 0px, 0px);
}

.animated-elements.slide-left {
  opacity: 0;
  -moz-transition: all 750ms linear;
  -webkit-transition: all 750ms linear;
  -o-transition: all 750ms linear;
  transition: all 750ms linear;
  -moz-transform: translate3d(25px, 0px, 0px);
  -webkit-transform: translate3d(25px, 0px, 0px);
  -o-transform: translate(25px, 0px);
  -ms-transform: translate(25px, 0px);
  transform: translate3d(25px, 0px, 0px);
}

.animated-elements.slide-down.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animated-elements.slide-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animated-elements.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animated-elements.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*-----------------------------------------------------------------portfolio Section-----------------------------------------------------------------*/


.portfolio-section {
  padding: 12%;
  background-color: #FD3A69;
  color: white;;
}

.portfolio-section.bright{
  background-color: #F38BA0;
  color: black
}

.portfolio-section.dark{
  background-color: #171010;
  color: white;
}

.games-heading{
  font-size: 4.4rem;
  font-weight: bolder;
}
.game-details {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  align-items: center;
  justify-content: center;
}

.game-img{
  border-radius: 75px;
}

.game-title {
  font-size: 3.2rem;
  font-weight: bolder;
}


.game-row {
  background-color: #FF577F;
  color: white;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6%;
  margin: 12% 0;
  border-radius: 50px;
}

.game-row.bright{
  background-color: #FFBCBC;
  color: black
}

.game-row.dark{
  background-color: #362222;
  color: white;
}


.game-desc {
  text-align: justify;
  font-size: 1.5rem;
}

.playstore-btn {
  max-width: 300px;
  padding: 3% 0;
}

/*-----------------------------------------------------------------portfolio Section-----------------------------------------------------------------*/
/*-----------------------------------------------------------------Testimonial Section-----------------------------------------------------------------*/
#testimonials .container-fluid {
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.reviews {
  min-height: 1106px;
}

.review-intro {
  line-height: 2;
  font-weight: bolder;
  font-size: 3rem;
  padding: 6% 0 5%;
  margin: auto;
}

.review-intro.dark {
  color: #FCFFEF;
}

#testimonials h2 {
  margin: auto auto 0 auto;
  line-height: 2;
  width: 75%;
  background-color: rgba(255, 255, 255, .5);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2%;
  font-size: 2rem;
  padding: 2%;
}

.apostrophe {
  padding: 0 3px;
  margin: 0 3px;
}

.carousel {
  padding: 6% 0 12%;
  min-height: 999px;
}

.carousel-indicators {
  align-items: flex-end;
  /* padding: 30px 0; */
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #91d18b 50%, #b2ebf2 50%);
  position: absolute;
  opacity: .5;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 200vw;
  top: 0;
  right: -50%;
  left: -50%;
  bottom: 0;
}

.bg.bright {
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
}

.bg.dark {
  background-image: linear-gradient(-60deg, #013220 50%, #0e3150 50%);
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.testimonial-section a {
  color: #fff;
}

.testimonial-section a:hover {
  text-decoration: none;
}
/*-----------------------------------------------------------------FAQ Section-----------------------------------------------------------------*/
.faq-section{
  padding: 8%;
  background-color: #FCB949;
}
.faq-heading{
  line-height: 2;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3%;
}
.card{
  background-color: #ffefa0;
}
.card-header{
background-color: #ffd57e;
}
.card-body{
background-color: #ffefa0;
}
.faq-section.dark{
background-color: #323232;
}
.faq-section.dark .faq-heading{
  color: #fdfdfd;
}
.faq-section.dark .card{
  background-color: #40514e;
}
.faq-section.dark .card-header{
background-color: #41444b;
}
.faq-section.dark .card-body{
background-color: #52575d;
}
.btn.focus, .btn:focus{
  outline: none;
  box-shadow: none;
}
.question{
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}
.answer{
  line-height: 2;
  font-size: 1.2rem;
  text-align: left;
}
.faq-section.dark .question{
color: #fdfdfd;
}
.faq-section.dark .answer{
  color: #fdfdfd;
}
/*-----------------------------------------------------------------Footer Section-----------------------------------------------------------------*/
/* Footer */
#footer .container-fluid {
  padding: 3%;
}

#footer .container-fluid.dark {
  background: black;
  color: #fdfdfd;
}

.contact-tagline {
  line-height: 2;
  font-weight: 900;
  font-size: 3rem;
  width: 85%;
  text-align: left;
}

.tagline {
  text-align: left;
}

.social-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 25px;
}

.social-col {
  padding: 50px;
  flex-wrap: nowrap;
  min-width: 50%;
}

.social-col p {
  color: #8f8f8f;
  line-height: 1.5;
  padding-bottom: 25px;
}

.social-col.dark p {
  color: #FEFCFF;
}

.p-footer {
  color: #8f8f8f;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: left;
}

.p-footer.dark {
  color: #FEFCFF;
}

.social-icons {
  width: 25%;
  text-align: left;
}

.social-icon {
  padding: 0 25px 0;
  color: #343a40;
  font-size: 2rem;
  transition: all 0.75s;
}

.social-icon.dark {
  color: #FEFCFF;
}

.social-email {
  text-align: left;
}

.email-btn {
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  padding: 10px 40px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.email-btn.dark {
  border: 1px solid white;
  color: #fff;
}

.email-btn span {
  position: relative;
  z-index: 2;
}

.email-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.email-btn:hover {
  color: #fff;
  text-decoration: none;
}

.email-btn:hover:after {
  width: 100%;
}

.instagram-icon:hover {
  color: #fb3958;
  text-decoration: none;
}

.twitter-icon:hover {
  color: #00acee;
  text-decoration: none;
}

/*-----------------------------------------------------------------Media Query Break-Points-----------------------------------------------------------------*/
@media (max-width: 1440px) {

  /**********************************************************************************testimonials-media-query-rules/**********************************************************************************/
  .reviews {
    min-height: 1008px;
  }

  .carousel {
    min-height: 1008px;
  }

  .review-intro {
    line-height: 1.5;
    width: 90%;
  }

  #testimonials h2 {
    width: 80%;
    font-size: 1.8rem;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 1366px) {

  /**********************************************************************************testimonials-media-query-rules/**********************************************************************************/
  .reviews {
    min-height: 982px;
  }

  .carousel {
    min-height: 982px;
  }
}

@media (max-width: 1279px) {

  /**********************************************************************************testimonials-media-query-rules/**********************************************************************************/
  .reviews {
    min-height: 758px;
  }

  .carousel {
    min-height: 758px;
  }

  .review-intro {
    font-size: 2.2rem;
    width: 90%;
  }

  #testimonials h2 {
    font-size: 1.5rem;
    line-height: 2;
  }
  /**********************************************************************************FAQ-media-query-rules/**********************************************************************************/

  .faq-heading{
    font-size: 2.5rem;
  }
  .question{
    font-weight: 400;
    font-size: 1.3rem;
  }
  .answer{
    line-height: 2.5;
  }
  /**********************************************************************************footer-media-query-rules/**********************************************************************************/
  .tagline {
    text-align: center;
    margin: auto;
  }

  .contact-tagline {
    text-align: center;
    margin: auto;
  }

  .social-row {
    align-items: center;
    justify-content: center;
  }

  .social-col {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .social-email {
    text-align: center;
  }

  .social-icon-container {
    text-align: center;
  }

  .social-icons {
    width: 25%;
    text-align: center;
  }

  .p-footer {
    text-align: center;
  }
}

@media (max-width: 850px) {

  /**********************************************************************************Top section-media-query-rules/**********************************************************************************/
  /*----------------------------------------------------------Navbar----------------------------------------------------------*/
  .fas, .far {
    font-size: 1.5rem;
  }

  .line-1, .line-2 {
    width: 30px;
    height: 3px;
  }

  /*----------------------------------------------------------Greeting----------------------------------------------------------*/
  .desc {
    font-size: 2rem;
    margin-bottom: 3%;
  }

  .desc span {
    font-size: 2rem;
    display: block;
  }

  .desc-game-dev, .desc-web-dev {
    font-size: 0.75rem;
    margin-bottom: 1%;
  }

  /*----------------------------------------------------------Introduction----------------------------------------------------------*/
  #about .container-fluid {
    min-height: 100vh;
  }

  .introduction {
    padding: 15%;
  }

  .introduction h1 {
    padding-bottom: 5%;
  }

  .intro-img-container {
    width: 100%;
    margin: 15% auto;
    padding: 0;
  }

  .intro-img-container img {
    width: 50%;
  }

  .introduction h5 {
    line-height: 2.5;
    width: 100%;
  }

  /*----------------------------------------------------------Skills----------------------------------------------------------*/
  .services-section {
    padding: 15%;
  }

  .skill-about {
    font-size: 2.5rem;
  }

  .skills-row {
    line-height: 2;
    margin: 12% auto 0 auto;
    text-align: center;
    width: 100%;
  }

  .skill-description h1 {
    font-size: 2rem;
    margin: 7% auto;
  }

  .skill-description p {
    line-height: 2.5;
  }

  .webdev-img {
    float: none;
    width: 35%;
    margin: 0 auto 3% auto;
  }

  .gamedev-img {
    float: none;
    width: 55%;
    margin: 0 auto 3% auto;
  }

  .graphicdesign-img {
    float: none;
    width: 45%;
    border-radius: 100%;
    margin: 0 auto 3% auto;
  }

  /*----------------------------------------------------------Reviews----------------------------------------------------------*/
  .carousel {
    min-height: 100vh;
    padding: 0;
  }

  .review-intro {
    font-size: 2rem;
    width: 100%;
    margin: 7% auto;
  }

  #testimonials h2 {
    width: 80%;
    font-size: 1rem;
    line-height: 2.5;
  }

  .carousel-item {
    margin-bottom: 5%;
  }

  .carousel-indicators {
    padding: 0;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 12px;
    height: 12px;
  }

  /*----------------------------------------------------------FOOTER----------------------------------------------------------*/
  .contact-section {
    padding: 10% 10% 5%;
  }

  .contact-tagline {
    line-height: 1.5;
    font-weight: 900;
    font-size: 2rem;
    width: 85%;
  }

  .social-row {
    margin-bottom: 100px;
  }

  @media (max-width: 400px) {

    /*----------------------------------------------------------Introduction----------------------------------------------------------*/
    .introduction h5 {
      line-height: 2;
    }

    /*----------------------------------------------------------Skills----------------------------------------------------------*/
    .skills-row {
      line-height: 2;
      margin: 12% auto 0 auto;
      text-align: center;
      width: 100%;
    }

    .skill-description p {
      line-height: 2;
    }
     /*-----------------------------------------------------------------portfolio Section-----------------------------------------------------------------*/
    .portfolio-section {
      padding: 8%;
    }

    .games-heading {
      font-size: 3.4rem;
    }

    .game-title {
      font-size: 1.8rem;
    }

    .game-img {
      border-radius: 45px;
      max-width: 125px;
      margin: auto;
    }

    .game-desc {
      font-size: 1rem;
      padding: 3%;
    }

    .playstore-btn {
      max-width: 150px;
    }

    /*-----------------------------------------------------------------portfolio Section-----------------------------------------------------------------*/
    /**********************************************************************************FAQ-media-query-rules/**********************************************************************************/

    .faq-heading{
      font-size: 2.2rem;
      line-height: 1.5;
      margin-bottom: 6%
    }
    .question{
      font-size: 1rem;
      line-height: 2;
    }
    .answer{
      font-size: 1rem;
      line-height: 2;
    }

    /*----------------------------------------------------------Reviews----------------------------------------------------------*/
    .carousel {
      min-height: 700px;
    }

    .review-intro {
      font-size: 1.8rem;
      margin: 7% auto 5% auto;
    }

    #testimonials h2 {
      width: 80%;
      font-size: 1rem;
      line-height: 2;
    }

    .carousel-item {
      margin-bottom: 8%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 12px;
      height: 12px;
    }

    /*----------------------------------------------------------FOOTER----------------------------------------------------------*/
    .social-col {
      padding: 25px;
    }
  }
}
